In [72]:
import pandas as pd 
import numpy as np 
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl
import os 

base_dir = '/Users/woneyhoney/Desktop/weight/Again/Data_Analysis'
excel_file = 'safety_level_1.xlsx'
excel_dir = os.path.join(base_dir,excel_file)

df = pd.read_excel(excel_dir, sheet_name='Sheet1', usecols='B, C') # 위도, 경도 

data_points = df.values

kmeans = KMeans(n_clusters=300).fit(data_points) # 300개의 클러스터
df['cluster_id'] = kmeans.labels_

pd.set_option('display.max_rows', 300)
df['cluster_id'].value_counts() < 545

68     False
18     False
73     False
70     False
17     False
180    False
3      False
117    False
50     False
259    False
47     False
94     False
157    False
80     False
119    False
257    False
74     False
274    False
24     False
280    False
294    False
108    False
171    False
58     False
42     False
106    False
59     False
130    False
99     False
66     False
1      False
25     False
129    False
212    False
82     False
226    False
182    False
98     False
210    False
53     False
111    False
85     False
124    False
62      True
283     True
103     True
169     True
183     True
114     True
299     True
126     True
95      True
2       True
256     True
52      True
33      True
198     True
140     True
43      True
54      True
165     True
36      True
88      True
154     True
39      True
187     True
37      True
28      True
5       True
120     True
29      True
72      True
118     True
261     True
153     True
116     True
0       True
105     True
104     True
76      True
242     True
234     True
6       True
65      True
69      True
137     True
144     True
196     True
150     True
60      True
148     True
21      True
20      True
35      True
160     True
298     True
217     True
84      True
209     True
121     True
40      True
146     True
190     True
164     True
168     True
216     True
81      True
138     True
195     True
91      True
109     True
184     True
246     True
31      True
201     True
128     True
115     True
56      True
46      True
67      True
44      True
89      True
262     True
179     True
181     True
83      True
71      True
30      True
231     True
284     True
113     True
57      True
4       True
152     True
7       True
255     True
15      True
173     True
194     True
131     True
14      True
278     True
159     True
174     True
250     True
8       True
26      True
112     True
277     True
272     True
64      True
204     True
270     True
200     True
223     True
51      True
205     True
227     True
90      True
247     True
10      True
136     True
263     True
156     True
202     True
176     True
127     True
252     True
254     True
11      True
155     True
189     True
61      True
218     True
49      True
208     True
296     True
41      True
233     True
122     True
282     True
192     True
75      True
264     True
149     True
125     True
276     True
77      True
97      True
100     True
229     True
87      True
266     True
139     True
96      True
22      True
102     True
206     True
241     True
287     True
123     True
197     True
290     True
93      True
213     True
12      True
222     True
78      True
268     True
211     True
101     True
133     True
178     True
147     True
235     True
45      True
170     True
55      True
185     True
207     True
285     True
32      True
63      True
281     True
269     True
289     True
92      True
249     True
239     True
221     True
188     True
158     True
162     True
203     True
292     True
172     True
142     True
13      True
132     True
167     True
79      True
199     True
27      True
232     True
186     True
215     True
253     True
224     True
110     True
279     True
34      True
48      True
135     True
219     True
245     True
141     True
145     True
166     True
230     True
271     True
193     True
293     True
225     True
177     True
267     True
38      True
23      True
228     True
260     True
191     True
175     True
286     True
288     True
251     True
143     True
240     True
295     True
273     True
151     True
107     True
238     True
16      True
297     True
248     True
220     True
244     True
265     True
9       True
214     True
161     True
19      True
163     True
291     True
134     True
237     True
236     True
258     True
243     True
86      True
275     True
Name: cluster_id, dtype: bool

In [73]:
df['cluster_id'].value_counts()

68     791
18     789
73     768
70     757
17     729
180    706
3      705
117    689
50     687
259    661
47     651
94     634
157    630
80     625
119    624
257    616
74     614
274    609
24     604
280    603
294    598
108    594
171    592
58     591
42     586
106    583
59     580
130    580
99     574
66     574
1      572
25     572
129    570
212    563
82     563
226    563
182    562
98     558
210    550
53     548
111    548
85     546
124    545
62     541
283    541
103    540
169    539
183    535
114    535
299    531
126    527
95     527
2      526
256    520
52     518
33     517
198    515
140    513
43     513
54     512
165    509
36     506
88     506
154    504
39     504
187    502
37     500
28     500
5      499
120    497
29     496
72     495
118    491
261    489
153    488
116    488
0      487
105    486
104    485
76     485
242    483
234    479
6      479
65     477
69     472
137    472
144    471
196    469
150    468
60     468
148    466
21     466
20     464
35     462
160    460
298    458
217    458
84     458
209    455
121    452
40     449
146    447
190    445
164    443
168    442
216    441
81     439
138    435
195    433
91     432
109    431
184    431
246    431
31     430
201    429
128    429
115    428
56     427
46     423
67     421
44     421
89     419
262    419
179    419
181    419
83     419
71     418
30     415
231    414
284    413
113    412
57     412
4      411
152    411
7      410
255    407
15     406
173    404
194    404
131    394
14     393
278    392
159    391
174    390
250    388
8      386
26     385
112    385
277    384
272    381
64     380
204    379
270    376
200    372
223    372
51     371
205    370
227    370
90     365
247    361
10     358
136    354
263    353
156    352
202    351
176    350
127    350
252    350
254    349
11     347
155    343
189    340
61     335
218    335
49     334
208    333
296    332
41     332
233    332
122    326
282    326
192    323
75     319
264    317
149    314
125    312
276    310
77     306
97     305
100    305
229    302
87     298
266    297
139    297
96     292
22     288
102    288
206    286
241    284
287    283
123    282
197    281
290    281
93     276
213    274
12     273
222    272
78     272
268    268
211    267
101    264
133    261
178    259
147    258
235    257
45     255
170    251
55     246
185    246
207    245
285    239
32     234
63     233
281    230
269    224
289    224
92     224
249    223
239    218
221    215
188    215
158    215
162    215
203    204
292    202
172    197
142    195
13     193
132    192
167    192
79     191
199    187
27     187
232    186
186    183
215    179
253    179
224    177
110    177
279    175
34     169
48     167
135    167
219    167
245    167
141    163
145    159
166    159
230    154
271    153
193    151
293    149
225    142
177    133
267    133
38     128
23     128
228    127
260    125
191    123
175    120
286    119
288    116
251    107
143    100
240     98
295     95
273     95
151     93
107     93
238     91
16      81
297     79
248     71
220     71
244     69
265     67
9       67
214     66
161     65
19      55
163     48
291     45
134     35
237     24
236     23
258     10
243      9
86       7
275      7
Name: cluster_id, dtype: int64

In [67]:
df_cpy_1 = df # 원본 복사본

# True인거만 선택 - 노가다 부분
df = df[df['cluster_id'] != 95]
df = df[df['cluster_id'] != 93]
df = df[df['cluster_id'] != 27]
df = df[df['cluster_id'] != 54]
df = df[df['cluster_id'] != 48]
df = df[df['cluster_id'] != 80]
df = df[df['cluster_id'] != 96]
df = df[df['cluster_id'] != 97]
df = df[df['cluster_id'] != 66]
df = df[df['cluster_id'] != 84]

# 열 날리기 
df.drop('cluster_id', axis=1)

        x_latitude  y_longitude
0       126.931208    37.275457
1       126.931209    37.275367
2       126.931321    37.275548
3       126.931321    37.275458
4       126.931322    37.275367
...            ...          ...
108421  127.084345    37.262573
108445  127.084455    37.262934
108446  127.084456    37.262844
108447  127.084456    37.262753
108448  127.084457    37.262663

[104719 rows x 2 columns]

In [69]:
data_points = df.values

kmeans = KMeans(n_clusters=200).fit(data_points) # 100개의 클러스터
df['cluster_id'] = kmeans.labels_

pd.set_option('display.max_rows', 200)
df['cluster_id'].value_counts() < 545

63     False
126    False
56     False
17     False
71     False
51     False
39     False
48     False
79     False
46     False
132    False
85     False
75     False
121    False
43     False
87     False
135    False
7      False
147    False
83     False
149    False
0      False
113    False
22     False
84     False
18     False
115    False
109    False
37     False
58     False
88     False
41     False
90     False
28     False
155    False
107    False
44     False
125    False
118    False
171    False
9      False
11     False
141    False
133    False
189    False
8      False
92     False
176    False
105    False
33     False
169    False
14     False
131    False
108    False
116    False
93     False
117    False
91     False
52     False
100    False
67     False
151    False
95     False
64     False
134    False
30     False
2      False
82     False
4      False
36     False
148    False
59     False
199    False
170    False
122    False
20     False
86     False
69     False
154    False
164    False
103    False
12     False
187    False
111    False
186    False
24     False
139    False
129    False
177    False
152    False
97     False
138    False
66     False
124    False
13     False
55     False
98     False
188     True
140     True
3       True
104     True
38      True
120     True
185     True
31      True
72      True
49      True
146     True
175     True
158     True
35      True
81      True
57      True
110     True
6       True
178     True
159     True
60      True
15      True
47      True
45      True
179     True
16      True
160     True
19      True
10      True
112     True
161     True
78      True
1       True
145     True
167     True
61      True
119     True
62      True
101     True
195     True
184     True
150     True
166     True
182     True
34      True
96      True
25      True
123     True
73      True
180     True
32      True
137     True
198     True
196     True
142     True
23      True
191     True
181     True
80      True
162     True
194     True
143     True
144     True
165     True
74      True
29      True
5       True
65      True
114     True
157     True
190     True
193     True
27      True
168     True
68      True
54      True
173     True
76      True
197     True
192     True
89      True
130     True
106     True
94      True
136     True
53      True
77      True
156     True
70      True
128     True
102     True
127     True
21      True
163     True
183     True
172     True
26      True
174     True
50      True
99      True
42      True
40      True
153     True
Name: cluster_id, dtype: bool

In [65]:
df_cpy_2 = df # 원본 복사본

# True인거만 선택 - 노가다 부분
df = df[df['cluster_id'] != 43]
df = df[df['cluster_id'] != 66]

# 열 날리기 
df.drop('cluster_id', axis=1)

        x_latitude  y_longitude
0       126.931208    37.275457
1       126.931209    37.275367
2       126.931321    37.275548
3       126.931321    37.275458
4       126.931322    37.275367
...            ...          ...
108618  127.087441    37.294493
108619  127.087441    37.294403
108620  127.087442    37.294313
108621  127.087553    37.294584
108622  127.087554    37.294493

[105458 rows x 2 columns]